* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f0f0f;
    color: #fff;
     font-family: "Roboto", sans-serif;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.buscador {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

input {
    flex: 1;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background: #1e1e1e;
    color: #fff;
    font-size: 1rem;
}

button {
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background: #e50914;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background: #b20710;
}

.card {
    display: flex;
    gap: 24px;
    background: #1e1e1e;
    border-radius: 12px;
    padding: 24px;
}

.card img {
    width: 200px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: #aaa 2px 0 5px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.info h2 {
    font-size: 1.5rem;
    text-align: center;
}

.info p {
    color: #aaa;
    line-height: 1.6;
    text-align: center;
}